$primary: #03001C;
$secondary: #301E67;
$accent: #5B8FB9;
$background: #B6EADA;

$md-primary: $accent;
$md-primary-light: lighten($md-primary, 15%);
$md-primary-dark: darken($md-primary, 15%);

$md-secondary: $secondary;
$md-secondary-light: lighten($md-secondary, 15%);
$md-secondary-dark: darken($md-secondary, 15%);

$md-background: $background;

@mixin md-theme {
  primary: $md-primary;
  primary-light: $md-primary-light;
  primary-dark: $md-primary-dark;
  secondary: $md-secondary;
  secondary-light: $md-secondary-light;
  secondary-dark: $md-secondary-dark;
  background: $md-background;
};

@use '~@material/theme' with (
  @include md-theme;
);
